* {
	margin: 0;
	padding: 0;
}

body {
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	color: #fff;
}

.container	{
	width: 960px;
	margin: auto;
	background-color: #222;
}

/*header*/
.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
}
.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}
.header a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border-radius: 20%;
}
.header a:hover {
	background-color: #555;
}
/*end of header*/
/*hero*/
.hero	{
	height: 320px;
	background-image: url(img/hero.png);
	background-size: cover; 
	background-position: 0 -100px;
}
/*end of hero*/
/*main*/
.main {
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
	float: left;
}
.main .penulis {
	font-size: 11px;
	margin-top: -5px;
}
.main .penulis a {
	text-decoration: none;
	color: red;
}
.main p {
	margin-bottom: 20px;
	font-size: 14px;
}
/*end of main*/
/*footer*/

.footer {
	background-color: #777;
	padding: 10px;
}

.footer .copy {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.sidebar	{
	width: 300px;
	float: right;
	padding: 20px;
}
.sidebar h3 {
	font-weight: bold;
}
.sidebar img {
	height: 72px;
	float: left;
	padding: 10px;
}
.sidebar p {
	font: 12px/18px arial;
}

/*clearfix*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}